/* 

Följande önskemål finns:
● Text och videoinnehåll skall vara centrerat
● För och bakgrundsfärg skall ha relevans till filmen 
    (Kolla på posters)
● Länklistan skall vara horisontell
● Footern skall vara 50px hög och ha annan bakgrundsfärg 
    än resten av sidan. 

    */


/* Tags */
body {
    background-color: rgb(73, 40, 31);
    color: rgb(207, 181, 144);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 0px;
}

main,
nav {
    margin: 8px;
}

footer {
    height: 50px;
    background-color: rgb(86, 67, 52);
    margin: 0px;
    padding: 0px;
}

/* classes */
ul.horizontal li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    list-style: none;
    background-color: rgb(66, 36, 28);
}

.centered {
    /* Vill inte använda mig av "text-align: center;" och
       göra en "Mora klocka" av texten. :-) */
    display: flex;
    justify-content: center;
}

.size60 {
    width: 60%;
}

.bling {
    animation: 3s linear 1s infinite alternate textShadowAnim;
}

/* Links */
a {
    color: rgb(207, 181, 144);
}

a:visited {
    color: rgb(177, 164, 146);
}

a:hover {
    color: white;
}

/* header */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: darkgoldenrod;
    text-transform: uppercase;
    font-family: 'Fredoka One';
}


/* Animation keyframes */
@keyframes textShadowAnim {
    from {
        text-shadow: -4px 0px 5px #000;
    }

    to {
        text-shadow: 4px 0px 5px #000;
    }
}

;