/* Variables */
:root {
    --bgHColor: 13;
    --bgSColor: 40.4%;
    --bgLColor: 20.4%;
    --bgColor: hsl(var(--bgHColor), var(--bgSColor), var(--bgLColor));

    --fgHColor: 35;
    --fgSColor: 39.6%;
    --fgLColor: 68.8%;
    --fgColor: hsl(var(--fgHColor), var(--fgSColor), var(--fgLColor));
    --headerColor: darkgoldenrod;
}

/* Tags */
body {
    background-color: var(--bgColor);
    color: var(--fgColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 0px;
}

main,
nav {
    margin: 8px;
}

footer {
    height: 50px;
    background-color: hsl(var(--bgHColor), var(--bgSColor), calc(var(--bgLColor) - 5%));
    margin: 0px;
    padding: 0px;
}

/* classes */
ul.horizontal>li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    list-style: none;
    background-color: hsl(var(--bgHColor), var(--bgSColor), calc(var(--bgLColor) + 3%));
}

.centered {
    /* Vill inte använda mig av "text-align: center;" och
       göra en "Mora klocka" av texten. :-) */
    display: flex;
    justify-content: center;
}

.size60 {
    width: 60%;
}

.bling {
    animation: 3s linear 1s infinite alternate textShadowAnim;
}

/* Links */
a {
    color: hsl(var(--fgHColor), var(--fgSColor), calc(var(--fgLColor) + 7%));
}

a:visited {
    color: hsl(var(--fgHColor), var(--fgSColor), calc(var(--fgLColor) - 7%));
}

a:hover {
    color: white;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: 'Fredoka One';
}


/* Animation keyframes */
@keyframes textShadowAnim {
    from {
        text-shadow: -4px 0px 5px #000;
    }

    to {
        text-shadow: 4px 0px 5px #000;
    }
}